---
- name: Finalize Combustion
  hosts: localhost
  vars:
    mdadm_conf: /etc/mdadm/mdadm.conf
    raid_device: /dev/md127

  tasks:
{% raw %}
  - name: Make sure {{mdadm_conf|dirname}} exists
    ansible.builtin.file:
      path: "{{mdadm_conf|dirname}}"
      state: directory

  - name: Make sure RAID mount target exists
    ansible.builtin.file:
      path: /opt/raid
      state: directory

  - name: Make sure {{mdadm_conf}} exists
    ansible.builtin.file:
      path: "{{mdadm_conf}}"
      state: touch

  - name: Scan RAID array to generate {{mdadm_conf|basename}}
    ansible.builtin.command:
      cmd: sh -c 'mdadm --detail --scan --verbose > {{mdadm_conf}}'

  - name: Mount RAID array
    ansible.posix.mount:
      boot: yes
      fstype: ext4
      opts: noatime
      path: /opt/raid
      state: present
      src: "{{raid_device}}"
{% endraw %}

  - name: Make sure root has ~/.ssh
    ansible.builtin.file:
      name: /root/.ssh/
      mode: 0700
      state: directory

  - name: Set SSH pub key to root
    ansible.posix.authorized_key:
      user: root
      state: present
      key: {{pubkey}}

  - name: Enable SSH
    ansible.builtin.systemd:
      name: sshd
      enabled: yes

  - name: Install packages
    ansible.builtin.package:
      state: present
      name:
        - neovim
        - lnav
        - bash-completion
        - fish
        - tmux
        - exa
        - msmtp
        - msmtp-mta
        - mailx
        - firewalld
        - ncat
        - acl
        - samba

  - name: Remove defaults targetpw
    ansible.builtin.lineinfile:
      path: /etc/sudoers
      state: present
      regexp: '^(Defaults targetpw .+)'
      line: '# \1'
      validate: '/usr/sbin/visudo -cf %s'
      backrefs: yes

  - name: Remove all-all-all
    ansible.builtin.lineinfile:
      path: /etc/sudoers
      state: present
      regexp: '^(ALL +ALL=.+)'
      line: '# \1'
      validate: '/usr/sbin/visudo -cf %s'
      backrefs: yes

  - name: Add juruotsa to sudoers
    ansible.builtin.copy:
      dest: /etc/sudoers.d/juruotsa
      content: juruotsa ALL=(ALL:ALL) ALL

  - name: Create timezone file
    ansible.builtin.file:
      src: /usr/share/zoneinfo/Europe/Helsinki
      dest: /etc/localtime
      state: link
