#!/bin/bash
# combustion: network
# Redirect output to the console
exec > >(exec tee -a /dev/tty0) 2>&1
# Set a password for root, generate the hash with "openssl passwd -6"
echo 'root:$6$HUsGB73W9z/jwYm3$LKYydH31V3LLqzR25ZdF2LfVFlUwx0mPtuBJTE8.Un24Gsqde9IJdY2NQhvN1jNgpeAm3x52jeyK8tYOJ2due1' | chpasswd -e
# Add a public ssh key and enable sshd
mkdir -pm700 /root/.ssh/
cat id_rsa.pub >> /root/.ssh/authorized_keys
systemctl enable sshd.service
# Install packages
zypper --non-interactive install python3 \
  python3-pip \
  neovim \
  lnav \
  bash-completion \
  fish \
  tmux \
  exa \
  msmtp \
  msmtp-mta \
  mailx \
  firewalld \
  ncat \
  acl \
  samba
cp smb.conf /etc/samba/
cp smb.service /usr/lib/systemd/system/
cp vconsole.conf /etc/
pip install ansible
ansible-playbook finalize.yaml
# hostnamectl hostname votsonkolo
# Leave a marker
echo "Configured with combustion" > /etc/issue.d/combustion
